# Calc River Peaks
## Load from USGS
Source:
https://nwis.waterdata.usgs.gov/wa/nwis/uv?format=rdb&site_no=12149000&period=&begin_date=1989-05-30&end_date=2021-06-06

In [70]:
data_year = 2020
usgs_id = '12149000'

import hydrofunctions as hf
start = '{}-10-01'.format(data_year-1)
end = '{}-09-30'.format(data_year)
carnw = hf.NWIS(usgs_id, 'iv', start, end)
df = carnw.df()
df = df.rename(columns={
    "USGS:{}:00060:00000".format(usgs_id): "discharge",
    "USGS:{}:00060:00000_qualifiers".format(usgs_id): "discharge_qualifiers", 
    "USGS:{}:00065:00000".format(usgs_id): "stage",
    "USGS:{}:00065:00000_qualifiers".format(usgs_id): "stage_qualifiers"
})
df.to_parquet('test.parquet')
df2 = pd.read_parquet('test.parquet')
df2.describe()

Requested data from https://nwis.waterservices.usgs.gov/nwis/iv/?format=json%2C1.1&sites=12149000&startDT=2019-10-01&endDT=2020-09-30

         discharge         stage
count  35136.00000  35136.000000
mean    4508.65884     47.436880
std     4922.13344      1.984205
min      555.00000     45.400000
25%     1770.00000     46.110000
50%     3270.00000     47.160000
75%     5390.00000     48.100000
max    46000.00000     58.600000

In [86]:
stats = hf.stats('12149000', 'annual', statYearType='water')
stats.table

Retrieving annual statistics for site #12149000 from https://waterservices.usgs.gov/nwis/stat/?statReportType=annual&statType=all&sites=12149000&format=rdb&statYearType=water

,agency_cd,site_no,parameter_cd,ts_id,loc_web_ds,year_nu,mean_va,count_nu
0,USGS,12149000,00060,180583,NaN,1930,2484.000,365
1,USGS,12149000,00060,180583,NaN,1931,2985.000,365
2,USGS,12149000,00060,180583,NaN,1932,4594.000,366
3,USGS,12149000,00060,180583,NaN,1933,5188.000,365
4,USGS,12149000,00060,180583,NaN,1934,4823.000,365
...,...,...,...,...,...,...,...,...
102,USGS,12149000,00065,180586,NaN,2005,46.584,365
103,USGS,12149000,00065,180586,NaN,2006,46.709,365
104,USGS,12149000,00065,180586,NaN,2009,47.433,365
105,USGS,12149000,80155,180585,NaN,1967,392.800,365
106,USGS,12149000,80155,180585,NaN,1968,1016.000,366

In [45]:
df.describe()

       USGS:12150400:00065:00000
count                  96.000000
mean                   26.833021
std                     0.587677
min                    25.910000
25%                    26.197500
50%                    27.055000
75%                    27.400000
max                    27.480000

In [15]:

import pandas as pd
import numpy as np
from datetime import timedelta
herring = hf.NWIS('12149000', 'dv', start, end, file='herring_july.parquet')
url = 'https://nwis.waterdata.usgs.gov/wa/nwis/uv?format=rdb&site_no=12149000&period=&begin_date=2020-07-01&end_date=2021-06-06'
df0 = pd.read_csv(url,comment='#',skiprows=1, delimiter='\t')
#df0 = df0.drop(0) # drop data type row
df0.head(50)

,agency_cd,site_no,datetime,tz_cd,151237_00065,151237_00065_cd,200324_00060,200324_00060_cd
0,5s,15s,20d,6s,14n,10s,14n,10s
1,USGS,12149000,2020-07-01 00:00,PDT,47.04,A,2810,A
2,USGS,12149000,2020-07-01 00:15,PDT,47.03,A,2790,A
3,USGS,12149000,2020-07-01 00:30,PDT,47.04,A,2810,A
4,USGS,12149000,2020-07-01 00:45,PDT,47.03,A,2790,A
5,USGS,12149000,2020-07-01 01:00,PDT,47.02,A,2770,A
6,USGS,12149000,2020-07-01 01:15,PDT,47.03,A,2790,A
7,USGS,12149000,2020-07-01 01:30,PDT,47.03,A,2790,A
8,USGS,12149000,2020-07-01 01:45,PDT,47.02,A,2770,A
9,USGS,12149000,2020-07-01 02:00,PDT,47.02,A,2770,A
10,USGS,12149000,2020-07-01 02:15,PDT,47.03,A,2790,A
11,USGS,12149000,2020-07-01 02:30,PDT,47.03,A,2790,A
12,USGS,12149000,2020-07-01 02:45,PDT,47.03,A,2790,A
13,USGS,12149000,2020-07-01 03:00,PDT,47.04,A,2810,A
14,USGS,12149000,2020-07-01 03:15,PDT,47.02,A,2770,A
15,USGS,12149000,2020-07-01 03:30,PDT,47.03,A,2790,A
16,USGS,12149000,2020-07-01 03:45,PDT,47.03,A,2790,A
17,USGS,12149000,2020-07-01 04:00,PDT,47.02,A,2770,A
18,USGS,12149000,2020-07-01 04:15,PDT,47.02,A,2770,A
19,USGS,12149000,2020-07-01 04:30,PDT,47.04,A,2810,A
20,USGS,12149000,2020-07-01 04:45,PDT,47.03,A,2790,A
21,USGS,12149000,2020-07-01 05:00,PDT,47.04,A,2810,A
22,USGS,12149000,2020-07-01 05:15,PDT,47.04,A,2810,A
23,USGS,12149000,2020-07-01 05:30,PDT,47.03,A,2790,A
24,USGS,12149000,2020-07-01 05:45,PDT,47.04,A,2810,A
25,USGS,12149000,2020-07-01 06:00,PDT,47.02,A,2770,A
26,USGS,12149000,2020-07-01 06:15,PDT,47.04,A,2810,A
27,USGS,12149000,2020-07-01 06:30,PDT,47.05,A,2820,A
28,USGS,12149000,2020-07-01 06:45,PDT,47.05,A,2820,A
29,USGS,12149000,2020-07-01 07:00,PDT,47.05,A,2820,A
30,USGS,12149000,2020-07-01 07:15,PDT,47.05,A,2820,A
31,USGS,12149000,2020-07-01 07:30,PDT,47.05,A,2820,A
32,USGS,12149000,2020-07-01 07:45,PDT,47.05,A,2820,A
33,USGS,12149000,2020-07-01 08:00,PDT,47.06,A,2840,A
34,USGS,12149000,2020-07-01 08:15,PDT,47.05,A,2820,A
35,USGS,12149000,2020-07-01 08:30,PDT,47.07,A,2860,A
36,USGS,12149000,2020-07-01 08:45,PDT,47.07,A,2860,A
37,USGS,12149000,2020-07-01 09:00,PDT,47.07,A,2860,A
38,USGS,12149000,2020-07-01 09:15,PDT,47.07,A,2860,A
39,USGS,12149000,2020-07-01 09:30,PDT,47.06,A,2840,A
40,USGS,12149000,2020-07-01 09:45,PDT,47.07,A,2860,A
41,USGS,12149000,2020-07-01 10:00,PDT,47.07,A,2860,A
42,USGS,12149000,2020-07-01 10:15,PDT,47.08,A,2880,A
43,USGS,12149000,2020-07-01 10:30,PDT,47.08,A,2880,A
44,USGS,12149000,2020-07-01 10:45,PDT,47.07,A,2860,A
45,USGS,12149000,2020-07-01 11:00,PDT,47.08,A,2880,A
46,USGS,12149000,2020-07-01 11:15,PDT,47.09,A,2900,A
47,USGS,12149000,2020-07-01 11:30,PDT,47.10,A,2920,A
48,USGS,12149000,2020-07-01 11:45,PDT,47.10,A,2920,A
49,USGS,12149000,2020-07-01 12:00,PDT,47.11,A,2930,A

## Fix Up Data

In [2]:
# Calculate water year
df0['peak_dt'] = pd.to_datetime(df0['peak_dt'])
df0['water_year']=(df0['peak_dt'] + timedelta(days=92)).apply(lambda x: int(x.year))

# fix up datatypes
df0['gage_ht'] = df0['gage_ht'].apply(pd.to_numeric)
df0['peak_va'] = df0['peak_va'].apply(pd.to_numeric)

# Remove first 10 rows for Carnation. Gage hight changes to modern scale in 1940.
df = df0.loc[:,['water_year','peak_va','gage_ht']]
df.head(5)

   water_year  peak_va  gage_ht
1        1930    14800     7.62
2        1931    27400    10.51
3        1932    59500      NaN
4        1933    59000      NaN
5        1934    48700    15.83